#marketTitle {
  font-size: 90px;
  display: flex;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 0.5px solid white;
  margin-top: 40px;
}
.imgs {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}
#marketContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#productsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.productline {
  display: flex;
}
.productBox {
  width: 150px;
  margin: 20px;
}
.productTitle {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.productTitle span {
  font-size: 20px;
}
